$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1540px
) !default;

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800,900");

@import "mixins/rem";
@import "~normalize.css/normalize.css";
@import "/base/colors";

.shopingCart {
  margin-right: 10px;
}
body {
  overflow: auto;
}

.card {
  .card-img-top {
    height: 250px;
    width: auto;
    margin: 0 auto;
  }
  &-title {
    height: 60px;
  }
  &-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
