.category-front {
  &__item {
    line-height: 0;
  }
  &__link {
    position: relative;
    display: block;
  }
  &__title {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: rem(22px);
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    bottom: 8px;
    height: 53px;
    width: 100%;
    left: -8px;
  }
}