.products {
  &__item {
    &:not(:nth-last-child(-n+4)) {
      margin-bottom: 30px;
    }
    @extend .col-md-3;
    .inner {
      border: 1px solid #dddddd;
      padding: rem(20px);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &-item {
    &__header {
      text-align: center;
      font-size: rem(13px);
      font-weight: 600;
      text-transform: none;
    }
    &__price {
      text-align: right;
      font-size: rem(13px);
      span {
        font-weight: 700;
        color: $color-secondary;
        font-size: rem(18px);
      }
    }
  }
  &__block {
    &--new, &--promotion {
      .view-content {
        margin-bottom: 25px;
        @extend .row;
      }
    }
  }
}