.producers {
  &__block {
    margin: rem(50px 0);
    .view-content{
      @extend .row;
    }
  }
  &-block{
    &__item {
      @extend .col;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 0;
    }
  }
}