$colors: (
    success: #0abb87,
    warning: #ffb822,
    danger: #fd397a,
    info: #5578eb,
    primary: #5867dd,
    secoundary: #e2e5ec,
    dark: #282a3c,
    light: #fff,
    fontColor: #595d6e,
);

@function color($key, $opacity: 1) {
    @if map-has-key($colors, $key) {
      @return rgba(map-get($colors, $key), $opacity);
    }
  
    @warn "Unknown `#{$key}` in $colors.";
    @return null;
}