.menu {
    &__nav, &__subnav {
        list-style-type: none;
        padding:0;
        margin:0;
    }
    &__nav {
        margin-top: 15px;
        & > .menu__section {
            margin: 20px 0 0 0;
            height: 40px;
        }
    }
    &__subnav {
        .menu__link {
            padding-left: 45px;
        }
        .menu__subnav {
            .menu__link {
                padding-left: 65px;
            }
        }
    }
    &__item {
        &--show {
            & > .menu__submenu {
                height: 100%;
                transition: max-height 0.5s ease-in;
            }
        }
        &--hide {
            & > .menu__submenu {
                height: 0;
                overflow: hidden;
                transition: height 0.2s ease-out;

            }
        }
        &--active {
            background-color: #1b1b28;
            a {
                color: color(light);
            }
            .menu__link-icon {
                color: #5578eb;
            }
        }
    }
    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 9px 25px;
        color: #a2a3b7;
        font-weight: 400;
        font-size: 1rem;
        text-transform: initial;
        
        &-item {
            display: flex;
            align-items: center;
        }
        &-icon {
            margin-right: 10px;
            align-items: center;
            display: flex;
            &--dot {
                font-size: 1px;
            }
        }
        &:hover, &--open {
            background-color: #1b1b28;
            color: color(light);
            .menu__link-icon {
                color: #5578eb;
            }
        }
    }
    &__section {

        display: flex;
        padding: 0 25px;
        align-items: center;
        &--text {
            color: #4c4e6f;
            margin: 0;
            font-size: .9rem;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: .3px;
        }
    }
}