@import "../../../assets/scss/base/colors";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap");
@import "menu";
* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 300;
  font-family: Poppins;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}
body {
  display: flex;
  flex-direction: column;
  color: #646c9a;
  background: #f2f3f8;
}
.app-page {
  height: 100%;
  position: relative;
  display: flex;
  border-top: 2px solid color(info);
  flex-direction: column;
}
.app-sidebar {
  background-color: #1e1e2d;
  position: fixed;
  top: 2px;
  left: 0;
  height: 100%;
  width: 265px;
  display: flex;
  flex-direction: column;
  &__header {
    background-color: #1a1a27;
    height: 63px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: color(light);
    margin: 0 0 10px 0;
  }
}
.app-content {
  margin-left: 265px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: calc(100vh - 132px);
  .content {
    position: relative;
  }
  .content__inner {
    margin: 25px;
    background-color: color(light);
    border: 1px solid #eff0f6;
    padding: 25px;
    animation: fadein 1s;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.app-nav {
  margin-left: 266px;
}
a {
  text-decoration: none;
}

.header {
  &__sites {
    & > * {
      margin-right: 10px;
    }
  }
}
