.footer {
  width: calc(100% + 110px);
  max-width: calc(100% + 110px);
  position: relative;
  left: rem(-55px);
  &__map {
    position: relative;
    &:before {
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      content: '';
      bottom: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 100px 100vw;
      border-color: transparent transparent #fff   transparent;
    }
  }
  &--inner {
    margin-top: 25px;
    z-index: 1;
    position: relative;
    color: white;
    display: flex;
    flex-wrap: wrap;
    @extend .container;
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }
    &:after {
      background: rgba($color-primary,1);
      width: 100vw;
      height: 100%;
    }
    &:before {
      margin-top: -100px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 100px 100vw;
      border-color: transparent transparent rgba($color-primary,1) transparent;
    }
  }
  &__copyright {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: flex-start;
  }
}