.header  {
  display: flex;
  height: rem(75px);
  align-items: center;
  position: relative;
  .block-system-branding-block {
    flex: 1 1;
  }
  &--no-banner {
    margin-bottom: 25px;
    border-bottom: 1px solid #dddddd;
    //&:after {
    //  position: absolute;
    //  bottom: -5px;
    //  content: '';
    //  display:block;
    //  height: 2px;
    //  width: 700px;
    //  right: -5px;
    //  background-color: rgba(0, 83, 226, 0.8);
    //
    //}
    //&:before {
    //  position: absolute;
    //  bottom: -5px;
    //  content: '';
    //  display:block;
    //  right: 695px;
    //  width: 0;
    //  height: 0;
    //  border-style: solid;
    //  border-width: 0 2px 2px 0;
    //  border-color: transparent rgba(0, 83, 226, 0.8) transparent transparent;
    //}
  }
}