.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    background-color: transparent;
    &__action {
        text-align: right;
        padding-right: 0!important;
        width: 2%;
    }
}
.table:not(.table-bordered) thead td, .table:not(.table-bordered) thead th {
    border-top: 0;
}
.table thead td, .table thead th {
    font-weight: 500;
    border-bottom-width: 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #ebedf2;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
}
.table tr {
    border-bottom: 1px solid #ebedf2;
}
th {
    text-align: inherit;
}