.btn-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    &--horizontal {
        & > .btn:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;     
        }
        & > .btn:not(:first-child) {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
    }
    &--vertical {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        & > .btn {
            position: relative;
            flex: 1 1 auto;
        }
        & > .btn:not(:last-child) {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0; 
        }
        & > .btn:not(:first-child) {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}