// input, select, textarea {
//   &:not([type=checkbox]) {
//     width: 100%;
//     padding: 10px;
//   }

// }

// .form {
//   display: flex;
//   flex-direction: column;
//   & > * {
//     margin-bottom: 15px;
//   }
//   &__container {
//     display: flex;

//     & > * {
//       flex: 1 1 0;
//       &:not(:first-child) {
//         padding-left: 10px;
//       }
//       &:not(:last-child) {
//         padding-right: 10px;
//       }

//     }
//   }
//   &__text {
//     &--error {
//       border-color: red;
//     }
//   }
//   &__submit {
//     max-width: 200px;
//   }
// }
