.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  &__item {
    font-weight: 700;
    font-size: rem(16px);
    padding: rem(0 10px);
    position: relative;
    &:not(:last-of-type) {
      &:after {
        position: absolute;
        content: '';
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 15px;
        background-color: #000;
        display: block;
      }
    }
  }
}