
.product {
  &-detail {
    &__content {
      margin: rem(25px 0);
    }
    &__rent {
      padding: rem(50px);
      background-color: #f8f8f8;
      border: 1px solid #dddddd;
      font-size: rem(18px);
      &-item,
      &--bail {
        display: flex;
        justify-content: space-between;
      }
      &-item {
        margin-bottom: rem(10px);
      }
      &--bail {
        color: $color-secondary;
        .product-detail__rent-price {
          color: $color-secondary;
        }
      }
      &-label {
        font-weight: 600;
      }
      &-price {
        color: $color-primary;
        font-weight: 700;
      }
    }
  }
}
