.slider {
  &__slide {
    position: relative;
    margin-bottom: 30px;
    display: none;
    &:first-of-type{
      display: block
    }
  }
  .slide {
    &__media {
      line-height: 0;
    }
    &__description {
      position: absolute;
      z-index: 1;
      width: 700px;
      top: -5px;
      right: -5px;
      bottom: 0;
      height: calc(100% + 10px);
      display: flex;
      align-items: flex-end;
      justify-content: center;
      flex-direction: column;
      padding: 50px;

      &:before, &:after {
        content: '';
        position: absolute;
        display: block;
        z-index: -1;
      }

      &:before {
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 320px 409px 0;
        border-color: transparent rgba($color-primary, .8) transparent transparent;
      }

      &:after {
        height: 100%;
        width: 380px;
        right: 0;
        background-color: rgba($color-primary, .8);
      }
    }

    &__heading {
      text-transform: uppercase;
      color: white;
      font-family: 'Montserrat', sans-serif;
      margin: 0;
      &--h1 {
        font-size: rem(60px);
        font-weight: 800;
        line-height: 40px;
      }
      &--h2 {
        font-size: rem(36px);
        font-weight: 300;
        line-height: 50px;
      }
    }
    &__button {
        position: absolute;
        bottom: 50px;
        right: 50px;
        font-size: rem(18px);
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        text-transform: uppercase;

        a {
          color: white;
        }

        &:after {
          content: " >";
          display: inline;
        }
      }
    }
  }
