$color-grey: #363636;
$color-primary: #0053e2;
$color-secondary: #e20015;

.bg-primary {
  background-color: $color-primary;
}

.bg-secoundary {
  background-color: $color-secondary;
}

.bg-grey {
  background-color: $color-grey;
}