body {
  color: $color-grey;
  font-family: 'Open Sans', sans-serif;
  line-height: rem(28px);
  font-size: rem(18px);
}
h1,.h1, h2, .h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h2, .h2 {
  font-size: rem(28px);
  text-transform: uppercase;
}