@import '../../assets/scss/base/colors';

.navbar {
    background-color: color(light);
    height: 63px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eff0f6;
    padding: 0 25px;
}
.space-between {
    justify-content: space-between
}