@import '../../assets/scss/base/colors';

@mixin btn($bgc, $c) {
    background-color: $bgc;
    color: $c
}

.btn {
    display: inline-block;
    font-weight: 400;
    border: 1px solid transparent;
    padding: .65rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: 0.3s;
    cursor: pointer;
    &:active {
        outline: none;
        opacity: .6;
    }
    &:focus {
        outline: none;
    }
    
    &:disabled {
        opacity: .4;
        cursor: not-allowed;
    }

    &--primary {
        @include btn(color(primary),color(light));
        &:hover {
            background-color: color(primary, .8);
        }
    }
    
    &--secoundary {
        @include btn(color(secoundary), color(fontColor));
        &:hover {
            background-color: color(secoundary, .4);
        }
    }
    &--warning {
        @include btn(color(warning), color(fontColor));
        &:hover {
            background-color: color(warning, .4);
        }
    }
    &--success {
        @include btn(color(success), color(light));
        &:hover {
            background-color: color(success, .8);
        }
    }
    &--danger {
        @include btn(color(danger), color(light));
        &:hover {
            background-color: color(danger, .8);
        }
    }
    &--dark {
        @include btn(color(dark), color(light));
        &:hover {
            background-color: color(dark, .8);
        }
    }
    &--square {
        border-radius: 0;
    }
}